pytest~=8.3.4
pytest_asyncio
setuptools~=57.0.0
Faker~=25.2.0
fastapi~=0.115.8
pydantic~=1.9.2
asyncpg~=0.27.0
asyncio~=3.4.3
python-dotenv~=1.0.0
httpx~=0.18.2
allure-pytest
pytest-xdist
pytest-random-order
uvicorn
PyJWT~=2.10.1
behave
requests
pytest-bdd